.Footer {
    display: grid;
    top: 0;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    border-top: 2px solid $color_navbar;
    margin-top: 80px;
    
    .Span_Footer {
        justify-self: center;
        align-self: center;
    }
}

@media (max-width: $screen_4k) {
    .Footer {
        margin-top: 30px;

        .Span_Footer {
            font-size: 15px;
        }
    }
}

@media (max-width: $screen_laptop_l) {
    .Footer {
        margin-top: 30px;

        .Span_Footer {
            font-size: 15px;
        }
    }
}

@media (max-width: $screen_tablet) {
    .Footer {
        margin-top: 40px;

        .Span_Footer {
            font-size: 12px;
        }
    }
}