// Colors
$color_principal: #29323D;
$color_navbar: #F2F2F2;

//Fonts
$font_principal: 'Open Sans', sans-serif;

//Screen
$screen_4k: 2560px;
$screen_laptop_l: 1440px;
$screen_laptop: 1024px;
$screen_tablet: 768px;
$screen_mobile_l: 425px;
$screen_mobile_m: 375px;
$screen_mobile_s: 320px;