@import "./Global";

.Principal {
    display: grid;
    grid-template-rows: 80% 20%;
    position: sticky;
    top: 0;
    height: 100vh;

    .Content {
        display: grid;
        grid-template-rows: 100%;
    }
}


@media (max-width: $screen_4k) {
    .Principal {
        grid-template-rows: 90% 10%;
    }
}

@media (max-width: $screen_laptop_l) {
    .Principal {
        grid-template-rows: 90% 10%;
    }
}