@import "./Global";

.Principal {
    display: grid;
    grid-template-rows: 80% 20%;
    position: sticky;
    top: 0;
    height: 100vh;

    .Content {
        display: grid;
        grid-template-rows: 100%;
    }
}