.Search {
    padding-top: 100px;

    .Div_Search_Title {
        margin: 0 5%;
        display: grid;
        grid-auto-columns: 100%;

        a {
            text-decoration: none;
            cursor: pointer;

            .Span_Search_Title {
                font-size: 40px;
                font-weight: 600;
                color: $color_principal;
                justify-self: flex-start;
                align-self: flex-end;
            }
        }
    }

    .Div_Search_Search {
        margin: 10px 5% 10px 5%;
        border-bottom: 4px solid $color_navbar;
        padding-bottom: 25px;

        .Span_Search_Input {
            .Input_Search {
                padding: 5px 15px;
                font-size: 20px;
                border-radius: 5px;
            }
        }

        .Span_Search_Button {
            margin-left: 10px;

            .Button_Search {
                padding: 15px 35px 10px 35px;
                cursor: pointer;
                font-size: 10px;
                border-radius: 5px;
                color: white;
                background-color: $color_principal;
            }
        }
    }
}

@media (max-width: $screen_4k) {
    .Search {
        padding-top: 200px;
        margin: 0 10%;

        .Div_Search_Title {
            a {
                .Span_Search_Title {
                    font-size: 80px;
                }
            }
        }

        .Div_Search_Search {   
            .Span_Search_Input {
                .Input_Search {
                    font-size: 40px;
                    border-radius: 10px;
                }
            }
    
            .Span_Search_Button {
                margin-left: 10px;
    
                .Button_Search {
                    font-size: 30px;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media (max-width: $screen_laptop_l) {
    .Search {
        padding-top: 100px;
        margin: 0 5%;

        .Div_Search_Title {
            a {
                .Span_Search_Title {
                    font-size: 40px;
                }
            }
        }

        .Div_Search_Search {   
            .Span_Search_Input {
                .Input_Search {
                    font-size: 20px;
                    border-radius: 5px;
                }
            }
    
            .Span_Search_Button {
                margin-left: 10px;
    
                .Button_Search {
                    font-size: 9px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (max-width: $screen_tablet) {
    .Search {
        padding-top: 100px;
        margin: 0 5%;

        .Div_Search_Title {
            a {
                .Span_Search_Title {
                    font-size: 30px;
                }
            }
        }

        .Div_Search_Search {   
            .Span_Search_Input {
                .Input_Search {
                    font-size: 15px;
                    border-radius: 5px;
                }
            }
    
            .Span_Search_Button {
                margin-left: 10px;
    
                .Button_Search {
                    font-size: 9px;
                    padding: 9px 25px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (max-width: $screen_mobile_m) {
    .Search {
        padding-top: 50px;
        margin: 0 5%;

        .Div_Search_Title {
            a {
                .Span_Search_Title {
                    font-size: 25px;
                }
            }
        }

        .Div_Search_Search {   
            .Span_Search_Input {
                .Input_Search {
                    font-size: 10px;
                    border-radius: 5px;
                }
            }
    
            .Span_Search_Button {
                margin-left: 10px;
    
                .Button_Search {
                    font-size: 7px;
                    padding: 7px 20px;
                    border-radius: 5px;
                }
            }
        }
    }
}
