.User {
    margin: 100px 5%;
    
    .Div_User_Container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        .Div_User_Text {
            margin-left: 50px;
            padding: 20px;
            font-size: 25px;
            justify-self: flex-start;
            align-self: center;
        }
    }

    .Div_User_Empty {
        font-size: 25px;
    }
}

@media (max-width: $screen_4k) {
    .User {

        .Div_User_Container {
            .Div_User_Text {
                font-size: 40px;
            }
        }

        .Div_User_Empty {
            font-size: 50px;
        }
    }
}

@media (max-width: $screen_laptop_l) {
    .User {

        .Div_User_Container {
            .Div_User_Text {
                font-size: 20px;
            }
        }

        .Div_User_Empty {
            font-size: 25px;
        }
    }
}

@media (max-width: $screen_tablet) {
    .User {

        .Div_User_Container {
            .Div_User_Text {
                font-size: 15px;
            }
        }

        .Div_User_Empty {
            font-size: 20px;
        }
    }
}

@media (max-width: $screen_mobile_l) {
    .User {
        margin: 50px 5%;

        .Div_User_Container {
            .Div_User_Text {
                font-size: 15px;
                margin-left: 10px;
            }
        }

        .Div_User_Empty {
            font-size: 15px;
        }
    }
}

@media (max-width: $screen_mobile_m) {
    .User {
        margin: 30px 5%;

        .Div_User_Container {
            .Div_User_Text {
                font-size: 15px;
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: $screen_mobile_s) {
    .User {
        margin: 30px 1%;

        .Div_User_Container {
            .Div_User_Text {
                font-size: 15px;
            }
        }
    }
}